USE [master]
GO
/****** Object:  Database [GnomeDB]    Script Date: 2018-09-07 10:29:45 ******/
CREATE DATABASE [GnomeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GnomeDB', FILENAME = N'C:\Users\Administrator\GnomeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GnomeDB_log', FILENAME = N'C:\Users\Administrator\GnomeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GnomeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GnomeDB]
GO
USE [GnomeDB]
GO
/****** Object:  Table [dbo].[Gnomes]    Script Date: 2018-09-07 10:29:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gnomes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[HasBeard] [varchar](50) NOT NULL,
	[IsEvil] [varchar](50) NOT NULL,
	[Temperament] [int] NOT NULL,
	[Race] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Gnomes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Gnomes] ON 

INSERT [dbo].[Gnomes] ([ID], [Name], [HasBeard], [IsEvil], [Temperament], [Race]) VALUES (3, N'Dumpty    ', N'nej', N'nej', 4, N'bergtomte ')
INSERT [dbo].[Gnomes] ([ID], [Name], [HasBeard], [IsEvil], [Temperament], [Race]) VALUES (4, N'Sneaky    ', N'ja', N'ja', 8, N'skuggtomte')
INSERT [dbo].[Gnomes] ([ID], [Name], [HasBeard], [IsEvil], [Temperament], [Race]) VALUES (5, N'Humpty', N'ja', N'nej', 9, N'hustomte')
SET IDENTITY_INSERT [dbo].[Gnomes] OFF
USE [master]
GO
