<!DOCTYPE html>
<html>
<head>
    <title>Newsapp</title>
    <link href="css/main.css" rel="stylesheet" />
</head>
<body>
    <!-- recreate knapp -->
    <button onclick="getStats()" style="display: inline-block">Statistics</button>
    <button onclick="toggleShowAdd()" style="display: inline-block">Add</button>
    <button onclick="displayTable()" style="display: inline-block">Update</button>
    <!-- Add news "addFormHeader"-input och knapp till "addNews" -->
    <table id="table"></table>

        
        <input v-if="fieldState === 'add'|| fieldState === 'update'" v-model="addForm.header" placeholder="Header"/>
        <button v-if='fieldState === "add"' onclick="add()">Add</button>
        <button v-if='fieldState === "update"' onclick="update()">Update</button>




    <div id="statswindow"></div>
    <script src="js/newJavaScript.js"></script>
</body>
</html>